@import "libs";
@import "vars";
@import "fonts";
@import "global";

.btn {
  padding: 19px 31px;
  font-size: 16px;
  color: $blue;
  border: 0;
  border-radius: 26px;

  &--tr {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
  }
}

@import "header";
@import "main-screen";
@import "media";
