/* почему такой инклуд?
потому что автопрефиксер
галпа петух недоделанный
не префиксит код обычным @import"global"
*/
@@include('./_libs.scss');
@@include('./_vars.scss');
@@include('./_fonts.scss');
@@include('./_global.scss');

.btn {
  padding: 19px 31px;
  font-size: 16px;
  color: $blue;
  border: 0;
  border-radius: 26px;

  &--tr {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
  }
}

@@include('./_header.scss');
@@include('./_main-screen.scss');
@@include('./_media.scss');
